{
  "singleQuote": true,
  "trailingComma": "all",
  "semi": true,
  "eslintIntegration": true,
  "stylelintIntegration": true,
  "useTabs": false,
  "tabWidth": 2,
  "arrowParens": "always",
  "endOfLine": "lf",
  "printWidth": 80
}